.navigator a {
  width: 100%;
  border-radius: 10px;
  padding: 10px 50px;
}

.navigator a:hover {
  background-color: white;
}

.navigator {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.active-link {
  color: black; /* Màu khi active */
  background-color: white;
}

.inactive-link {
  color: black; /* Màu khi không active */
}
